@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Work+Sans:wght@300&display=swap');
/* @font-face {
    font-family: Augestina;
    src: url(../assets/fonts/Agustina.otf);
} */

#nav-title{
    font-family: 'Corinthia', cursive;
    text-transform: capitalize;
}